
{% extends "layout.twig" %}

{% block content %}


<div class="texture-header clearfix">
{{widget('image', 'thisunqiuewidgetname', { 'src': asset('/images/wood-bg.jpg'), 'title': 'my image', 'fileName': 'wood-bg.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '90px'})|raw}}
</div>

<header class="bk-header">
	<div class="logo">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
	</div>
	    <div class="companyheader wrapper clearfix">
	    <div class="res-col columns span-30-31-30">
            <div class="column span-three-left">
	            {{widget('profile', 'headercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
	        </div>
	        <div class="column span-three-middle">
	            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	        </div>
	        <div class="column span-three-right">
	        	{{widget('profile', 'headercolumn1profileAddress', { 'profileType':'address', 'address':'profile'})|raw}} 
	        </div>
	    </div>       
</header>

<div class="canvas">
	<nav class="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
	</nav>
	<div class="page-wrap">
		<section class="section main home-page">
			{{zone('main')|raw}}
		</section>
	</div>
</div>
</div>

<footer class="bk-footer">
</div>

<div class="texture-footer clearfix">
{{widget('image', 'thisunqiuewidgetname1', { 'src': asset('/images/wood-bg.jpg'), 'title': 'my image', 'fileName': 'wood-bg.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '90px'})|raw}}
</div>

{% endblock %}